In [26]:
import pandas as pd
import matplotlib.pyplot as plt
cpi=pd.read_excel("./Datasets/tuketici fiyat endeksi (2003=100).xls")
#print(cpi[cpi['Tüketici fiyat endeks rakamları (2003=100)']=='Annual rate of change (%)'])
#print(cpi.iloc[76:98])
inflation=cpi.iloc[79:98]
inflation=pd.DataFrame(inflation)

In [34]:


inflation = inflation.set_axis(["Yil","Ocak","Şubat","Mart","Nisan","Mayis","Haziran","Temmuz","Ağustos","Eylül","Ekim","Kasim","Aralik"], axis=1, inplace=False)
inflation

C:\Users\kayabo19\AppData\Local\Temp\ipykernel_1888\4147358377.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  inflation = inflation.set_axis(["Yil","Ocak","Şubat","Mart","Nisan","Mayis","Haziran","Temmuz","Ağustos","Eylül","Ekim","Kasim","Aralik"], axis=1, inplace=False)

,Yil,Ocak,Şubat,Mart,Nisan,Mayis,Haziran,Temmuz,Ağustos,Eylül,Ekim,Kasim,Aralik
79,2004,10.59,9.48,8.4,7.87,7.31,7.08,7.79,8.45,8.01,9.43,9.47,9.35
80,2005,9.23,8.69,7.94,8.18,8.7,8.95,7.82,7.91,7.99,7.52,7.61,7.72
81,2006,7.93,8.15,8.16,8.83,9.86,10.12,11.69,10.26,10.55,9.98,9.86,9.65
82,2007,9.93,10.16,10.86,10.72,9.23,8.6,6.9,7.39,7.12,7.7,8.4,8.39
83,2008,8.17,9.1,9.15,9.66,10.74,10.61,12.06,11.77,11.13,11.99,10.76,10.06
84,2009,9.5,7.73,7.89,6.13,5.24,5.73,5.39,5.33,5.27,5.08,5.53,6.53
85,2010,8.19,10.13,9.56,10.19,9.1,8.37,7.58,8.33,9.24,8.62,7.29,6.4
86,2011,4.9,4.16,3.99,4.26,7.17,6.24,6.31,6.65,6.15,7.66,9.48,10.45
87,2012,10.61,10.43,10.43,11.14,8.28,8.87,9.07,8.88,9.19,7.8,6.37,6.16
88,2013,7.31,7.03,7.29,6.13,6.51,8.3,8.88,8.17,7.88,7.71,7.32,7.4
89,2014,7.75,7.89,8.39,9.38,9.66,9.16,9.32,9.54,8.86,8.96,9.15,8.17
90,2015,7.24,7.55,7.61,7.91,8.09,7.2,6.81,7.14,7.95,7.58,8.1,8.81
91,2016,9.58,8.78,7.46,6.57,6.58,7.64,8.79,8.05,7.28,7.16,7,8.53
92,2017,9.22,10.13,11.29,11.87,11.72,10.9,9.79,10.68,11.2,11.9,12.98,11.92
93,2018,10.35,10.26,10.23,10.85,12.15,15.39,15.85,17.9,24.52,25.24,21.62,20.3
94,2019,20.35,19.67,19.71,19.5,18.71,15.72,16.65,15.01,9.26,8.55,10.56,11.84
95,2020,12.15,12.37,11.86,10.94,11.39,12.62,11.76,11.77,11.75,11.89,14.03,14.6
96,2021,14.97,15.61,16.19,17.14,16.59,17.53,18.95,19.25,19.58,19.89,21.31,36.08
97,2022,48.69,54.44,61.14,69.97,73.5,78.62,79.6,80.21,83.45,85.51,NaN,NaN

In [41]:
currency=pd.read_csv("./Datasets/USD_TRY Geçmiş Verileri.csv")
currency

          Tarih    Şimdi   Açılış   Yüksek    Düşük  Hac.  Fark %
0    01.01.2004   1,3410   1,4035   1,4045   1,3090   NaN  -4,39%
1    01.02.2004   1,3270   1,3380   1,3630   1,3020   NaN  -1,04%
2    01.03.2004   1,3135   1,3265   1,3375   1,3070   NaN  -1,02%
3    01.04.2004   1,4206   1,3106   1,4576   1,3036   NaN   8,15%
4    01.05.2004   1,4895   1,4185   1,5755   1,4125   NaN   4,85%
..          ...      ...      ...      ...      ...   ...     ...
222  01.07.2022  17,9114  16,6968  18,0470  16,5898   NaN   7,30%
223  01.08.2022  18,1868  17,9084  18,3530  17,6443   NaN   1,54%
224  01.09.2022  18,5000  18,1976  18,6262  18,0980   NaN   1,72%
225  01.10.2022  18,5920  18,4895  18,7200  18,3515   NaN   0,50%
226  01.11.2022  18,6217  18,6169  18,7248  18,3257   NaN   0,16%

[227 rows x 7 columns]

In [43]:
currency=pd.DataFrame(currency["Şimdi"])
currency=currency.applymap(lambda x: str(x.replace(',','.')))
currency["Şimdi"]=currency["Şimdi"].astype(float)

AttributeError: 'float' object has no attribute 'replace'

In [50]:
dates= pd.date_range('2004-01-01','2022-12-01' , freq='1M')-pd.offsets.MonthBegin(1)

            
currency=currency.set_index(dates)
currency

              Şimdi
2004-01-01   1.3410
2004-02-01   1.3270
2004-03-01   1.3135
2004-04-01   1.4206
2004-05-01   1.4895
...             ...
2022-07-01  17.9114
2022-08-01  18.1868
2022-09-01  18.5000
2022-10-01  18.5920
2022-11-01  18.6217

[227 rows x 1 columns]

In [74]:
money_supply=pd.read_excel("./Datasets/EVDS.xlsx")
del money_supply['Unnamed: 2']
money_supply.columns={"Tarih","Para Arzı(M2)"}
money_supply = money_supply.dropna(axis=0)
#Monthly money supply
money_supply=money_supply.drop([230,233])
money_supply

       Tarih Para Arzı(M2)
23   2005-12     237948998
24   2006-01     237353435
25   2006-02     242389476
26   2006-03     249485702
27   2006-04     252191859
..       ...           ...
222  2022-07  6970334144.8
223  2022-08  7252513750.9
224  2022-09  7489660208.8
225  2022-10  7778385206.4
226  2022-11  7934882645.3

[204 rows x 2 columns]

In [75]:
dates=pd.date_range('2005-12-01','2022-12-01' , freq='1M')-pd.offsets.MonthBegin(1)
del money_supply["Tarih"]
money_supply

    Para Arzı(M2)
23      237948998
24      237353435
25      242389476
26      249485702
27      252191859
..            ...
222  6970334144.8
223  7252513750.9
224  7489660208.8
225  7778385206.4
226  7934882645.3

[204 rows x 1 columns]

In [77]:
money_supply=money_supply.set_index(dates)
money_supply

           Para Arzı(M2)
2005-12-01     237948998
2006-01-01     237353435
2006-02-01     242389476
2006-03-01     249485702
2006-04-01     252191859
...                  ...
2022-07-01  6970334144.8
2022-08-01  7252513750.9
2022-09-01  7489660208.8
2022-10-01  7778385206.4
2022-11-01  7934882645.3

[204 rows x 1 columns]

In [80]:
interest=pd.read_excel("./Datasets/TCMB Ortalama Fonlama Faizi ve Toplam Fonlama Miktar__.xlsx")
del interest['Unnamed: 2']
interest=pd.DataFrame(interest.iloc[:142])
interest

       Tarih TP APIFON4
0    2011-01       6.25
1    2011-02       6.25
2    2011-03       6.25
3    2011-04       6.25
4    2011-05       6.25
..       ...        ...
137  2022-06      14.05
138  2022-07         14
139  2022-08         13
140  2022-09      12.04
141  2022-10       10.5

[142 rows x 2 columns]

In [81]:
del interest["Tarih"]
interest.columns={"Faiz"}
interest

      Faiz
0     6.25
1     6.25
2     6.25
3     6.25
4     6.25
..     ...
137  14.05
138     14
139     13
140  12.04
141   10.5

[142 rows x 1 columns]

In [84]:
dates=pd.date_range('2011-01-01','2022-11-01' , freq='1M')-pd.offsets.MonthBegin(1)
interest=interest.set_index(dates)
interest

             Faiz
2011-01-01   6.25
2011-02-01   6.25
2011-03-01   6.25
2011-04-01   6.25
2011-05-01   6.25
...           ...
2022-06-01  14.05
2022-07-01     14
2022-08-01     13
2022-09-01  12.04
2022-10-01   10.5

[142 rows x 1 columns]

In [101]:
corecpi=pd.read_excel("./Datasets/ozel kapsamli tufe gostergeleri (2003=100).xls")
#corecpi[corecpi['Özel kapsamlı TÜFE göstergeleri (2003=100)']=='Annual rate of change (%)']
core=corecpi.iloc[105:]
core[core['Özel kapsamlı TÜFE göstergeleri (2003=100)']=='C(2)']
core=core.loc[112]
core=core.dropna(axis=0)
core=core.to_frame()
core=pd.DataFrame(core.iloc[3:229])

In [103]:
dates=pd.date_range('2004-01-01','2022-11-01' , freq='1M')-pd.offsets.MonthBegin(1)
core.columns={"Core CPI"}
core

             Core CPI
Unnamed: 15     12.09
Unnamed: 16     11.51
Unnamed: 17      10.5
Unnamed: 18      9.62
Unnamed: 19      9.59
...               ...
Unnamed: 236    57.26
Unnamed: 237    61.69
Unnamed: 238    66.08
Unnamed: 239    68.09
Unnamed: 240    70.45

[226 rows x 1 columns]

In [105]:
core["Core CPI"]=core["Core CPI"].astype(float)
core=core.set_index(dates)
core

            Core CPI
2004-01-01     12.09
2004-02-01     11.51
2004-03-01     10.50
2004-04-01      9.62
2004-05-01      9.59
...              ...
2022-06-01     57.26
2022-07-01     61.69
2022-08-01     66.08
2022-09-01     68.09
2022-10-01     70.45

[226 rows x 1 columns]